*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    height:100vh;
}
.section1{
    color: white;
    background-color: black;
    font-size:14px;
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
}
.section1 h2{
   font-size:35px;
}
.section1 p{
    font-size:19px;
    padding-top:8px;
}
.section1 img{
    padding-top: 35px;
    margin-left:160px;
}
.section2{
    background-color: darkslategrey;
    width: 100%;
    display: flex;
    padding-top: 340px;
}
.section2 button {
 height: 40px;
 width: 130px;
margin-left: 320px;
background-color: transparent;
color: white;
border: 2px solid white;
font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
